<div class="block_row_wrapper">    
  <div class="row">
    {% for block in section.blocks %}
      {% if block.type == 'video' %}
        <div preload class="videoSlideshow show-mobile-{{ section.settings.show-mobile }}">
          {%- for block in section.blocks -%}
            <div class="video-slide-wrap hide-mobile">
              <a href="{{ block.settings.btn_link }}" class="video-slides fade">
                <!-- <div class="block_info">
                    <span class="video_text">{{ block.settings.video_text }}</span>
                    <span class="video_btn">{{ block.settings.btn_text }}</span>
                </div> -->
                <video preload autoplay muted loop playsinline class="slide-show-video">
                  <source src="{{ block.settings.video_link }}" type="video/mp4">
                </video>
              </a>
            </div>

            <div class="video-slide-wrap show-mobile">
              <a href="{{ block.settings.btn_link }}" class="video-slides fade">
                <div class="block_info">
                  <span class="video_text">{{ block.settings.video_text }}</span>
                  <span class="video_btn">{{ block.settings.btn_text }}</span>
                </div>
                <video preload autoplay muted loop playsinline class="slide-show-video">
                  <source src="{{ block.settings.mobileVideo_link }}" type="video/mp4">
                </video>
              </a>
            </div>
          {%- endfor -%}  
          <span class="block_image_info">
            <p class="image_details">SS22 The Summer of Sounds</p>
          </span>
        </div>

        <!-- <a class="prev show-mobile-{{ section.settings.show-mobile }}" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next show-mobile-{{ section.settings.show-mobile }}" onclick="plusSlides(1)">&#10095;</a>

        <div class="dot-wrapper show-mobile-{{ section.settings.show-mobile }}">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div> -->
      {% endif %}

      {% if block.type == 'home_blocks' %}
        <div class="half_block show-desktop-{{ block.settings.show-desktop }}">
          {% if block.settings.image_desktop != blank %}
          {% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
          {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
          {%- assign img_url = block.settings.image_desktop | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {% include 'image-style' with image_desktop: block.settings.image_desktop, height: 545, wrapper_id: wrapper_id, img_id: img_id %}
          <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
          {% comment %} <div class="button_wrapper">
              <div class="button campaign"><a href="{{ block.settings.btnUrl }}"><span class="link_text">Campaign</span></a></div>
              <div class="button lookbook"><a href="{{ block.settings.lookUrl }}"><span class="link_text">Lookbook</span></a></div>
          </div> {% endcomment %}
          <a href="{{ block.settings.btnLink }}" title="{{ block.settings.content }}">
            <span class="block_image_info">
              <p class="image_details">{{ block.settings.content }}</p>
              <p class="shop_btn">{{ block.settings.btnText }}</p>
            </span>
            <img src="{{ block.settings.image_desktop | img_url: '1080x1080', scale: 3 }}" class="desktop_image">
            <img src="{{ block.settings.image_mobile | img_url: '1024x1024', scale: 3 }}" class="mobile_image">
              {% comment %} {% include 'responsive-image' with
              image: block.settings.image | img_url: '1080x1080',
              image_class: "image",
              wrapper_class: "image-wrapper" %} {% endcomment %}
          </a>
          {% endif %}
        </div>
      {% endif %}  

      <div class="strip_block">
        {% if block.settings.strip_desktop != blank %}
        {% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
        {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
        {%- assign img_url = block.settings.strip_desktop | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style' with strip_desktop: block.settings.strip_desktop, height: 545, wrapper_id: wrapper_id, img_id: img_id %}
        <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
        {% comment %} <div class="button_wrapper">
            <div class="button campaign"><a href="{{ block.settings.btnUrl }}"><span class="link_text">Campaign</span></a></div>
            <div class="button lookbook"><a href="{{ block.settings.lookUrl }}"><span class="link_text">Lookbook</span></a></div>
        </div> {% endcomment %}
        <a href="{{ block.settings.strip_btnlink }}" title="{{ block.settings.strip_content }}">
          <span class="block_image_info  {{ block.settings.alignment }}">
            <p class="image_details">{{ block.settings.strip_content }}</p>
            <p class="shop_btn">{{ block.settings.strip_btntext }}</p>
          </span>
          <img loading="lazy" src="{{ block.settings.strip_desktop | img_url: '1080x1080', scale: 3 }}" class="desktop_image">
          <img src="{{ block.settings.strip_mobile | img_url: '1024x1024', scale: 3 }}" class="mobile_image">
            {% comment %} {% include 'responsive-image' with
            image: block.settings.image | img_url: '1080x1080',
            image_class: "image",
            wrapper_class: "image-wrapper" %} {% endcomment %}
        </a>
        {% endif %}
      </div>

        {% comment %} <noscript>
        {{ block.settings.image | img_url: '1080x1080', scale: 3 | img_tag: block.settings.image.alt, 'feature-row__image' }}
        </noscript> {% endcomment %}
        {% comment %} {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %} {% endcomment %}
      </div>
    {% endfor %}
  </div>
</div>


<script>
    var slideIndex = 1;

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("video-slides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }

    showSlides(slideIndex);
    
    setInterval(function () {
        plusSlides(+1)
    }, 35000);
</script>






{% schema %}
{
    "name": "Home Page Blocks",
    "class": "box-grid",
    "blocks": [
    {
        "type": "video",
        "name": "Video",
        "settings": [
            {
            "label": "Desktop Video Link",
            "id": "video_link",
            "type": "url"
            },
            {
            "label": "Mobile Video Link",
            "id": "mobileVideo_link",
            "type": "url"
            },
            {
            "label": "Video Image",
            "id": "video_image",
            "type": "image_picker"
            },
            {
            "label": "Video Text",
            "id": "video_text",
            "type": "text"
            },
            {
            "label": "Button text",
            "id": "btn_text",
            "type": "text"
            },
            {
            "label": "Button link",
            "id": "btn_link",
            "type": "url"
            }
        ]
        },
        {
        "type": "home_blocks",
        "name": "Half Block",
        "settings": [
            {
            "label": "Desktop Image",
            "id": "image_desktop",
            "type": "image_picker"
            },
            {
            "label": "Mobile Image",
            "id": "image_mobile",
            "type": "image_picker"
            },
            {
            "label": "Content",
            "id": "content",
            "type": "text"
            },
            {
            "label": "Button text",
            "id": "btnText",
            "type": "text"
            },
            {
            "label": "Button link",
            "id": "btnLink",
            "type": "url"
            },
            {
            "type": "radio",
            "id": "show-desktop",
            "label": "Show on desktop",
            "options": [
                {
                "value": "yes",
                "label": "Yes"
                },
                {
                "value": "no",
                "label": "No"
                }
            ],
            "default": "no"
            }
        ]
        },
        {
            "type": "half_strip_blocks",
            "name": "2 Column Blocks",
            "settings": [
                {
                "label": "Desktop Image",
                "id": "image_desktop",
                "type": "image_picker"
                },
                {
                "label": "Mobile Image",
                "id": "image_mobile",
                "type": "image_picker"
                },
                {
                "label": "Content",
                "id": "content",
                "type": "text"
                },
                {
                "label": "Button text",
                "id": "btnText",
                "type": "text"
                },
                {
                "label": "Button link",
                "id": "btnLink",
                "type": "url"
                },
                {
                "type": "radio",
                "id": "show-desktop",
                "label": "Show on desktop",
                "options": [
                    {
                    "value": "yes",
                    "label": "Yes"
                    },
                    {
                    "value": "no",
                    "label": "No"
                    }
                ],
                "default": "no"
                }
            ]
        },
        {
            "type": "strip_blocks",
            "name": "Strip Block",
            "settings": [
                {
                "label": "Desktop Image",
                "id": "strip_desktop",
                "type": "image_picker"
                },
                {
                "label": "Mobile Image",
                "id": "strip_mobile",
                "type": "image_picker"
                },
                {
                "label": "Content",
                "id": "strip_content",
                "type": "text"
                },
                {
                "label": "Button text",
                "id": "strip_btntext",
                "type": "text"
                },
                {
                "label": "Button link",
                "id": "strip_btnlink",
                "type": "url"
                },
                {
                "type": "radio",
                "id": "show-desktop",
                "label": "Show on desktop",
                "options": [
                    {
                    "value": "yes",
                    "label": "Yes"
                    },
                    {
                    "value": "no",
                    "label": "No"
                    }
                ],
                "default": "yes"
                },
                {
                "type":      "radio",
                "id":        "alignment",
                "label":     "Text Alignment",
                "options": [
                    { "value": "left", "label": "Left side" },
                    { "value": "right", "label": "Right side" }
                ],
                    "default": "left"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Two Column Block",
            "category": "Block Elements"
        }
    ]
}
{% endschema %}

